<form action="/recipes/<%=@recipe.id %>" method="post">

  <label for="title">Name</label>
  <input type="text" name="name" value="<%= @recipe.name%>">

  <label for="content">Ingredients</label>
  <input type="text" name="ingredients" value="<%= @recipe.ingredients%>">

  <label for="content">Cooking Time</label>
  <input type="text" name="cook_time" value="<%= @recipe.cook_time%>">

  <input type="hidden" name="_method" value="patch">
  <input type="submit" name="edit" value="Edit">
</form>
