<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@recipes.each do |r|%>
      <a href=/recipes/<%=r.id%>><%= r.name%></a>
    <%end%>
  </body>
</html>
