<% @recipes.each do |recipe| %>
  <h1>Name</h1>
  <%= recipe.name%>
  <h1>Ingredients</h1>
  <%= recipe.ingredients%>
  <h1>Cook Time</h1>
  <%= recipe.cook_time%>
  <p></p>
  <h1>Link: <a href="/recipes/<%=recipe.id%>" </h1>
<% end %>
