<form method="POST" action="/recipes">
     <h1>Create a new recipe!</h1>
     <p>Name: <input type="text" name="name"></p>
     <p>Ingredients: <input type="text" name="ingredients"></p>
     <p>Cooke Time: <input type="text" name="cook_time"></p>
     <input type="submit" id="Submit">
</form>
