<form action="/recipes" method="POST">
	<input type="text" name="name" value="Name">
	<input type="text" name="ingredients" value="Ingredients">
	<input type="text" name="cook_time" value="Cook Time(min)">
	<input type="submit" name="submit" value="Submit">
</form>