<h1><%=@recipe.name%></h1>

<h1>Ingredients: <%=@recipe.ingredients%></h1>

<h1>Cook Time: <%=@recipe.cook_time%> minutes</h1>



<form class="" action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="delete">
</form>
